---
layout: default
title: About Us 
Subtitle: "The Friends Career Center was born out of an open discussion about our desire to see young people and their communities flourish. We believe that our callings should not be in conflict with our personal beliefs and values. Moreover, founded on Quaker values of equality, simplicity, and fellowship, we believe that each one of us has a role to play in creating and building peaceful communities. 

Mission: The Friends Career Center is committed to connecting young Christians in Africa and across the world to career opportunities in order to create bright futures. 

Vision: To create and empower a global network of Christian leaders who promote peace and justice through professionalism and service.
"



title: "Meet The Team"
subtitle: "As young professionals, we value each and everyone’s unique perspective. We believe in a network that values diversity. 

Meet the young people behind our mission and vision "
body_classes: page-team-list
---

<div class="intro intro-big">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ page.title }}</h1>
        <p>{{ page.subtitle }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container pb-6">
  <div class="row">
    {% for team in site.team %}
    <div class="col-12 col-md-6 mb-3 mb-md-3">
      <div class="team team-summary">
        {% if team.image %}
        <div class="team-image">
          <img alt="{{ team.title }} logo" class="img-fluid mb-2" src="{{ team.image | relative_url}}" />
        </div>
        {% endif %}
        <div class="team-block">
          <div class="team-meta">
            <h2 class="team-name">{{ team.title }}</h2>
            <div class="team-jobtitle">{{ team.jobtitle }}</div>
            <div class="team-links">
              {% if team.linkedin_url %}
              <a class="team-linkedin" target="_blank" href="{{ team.linkedin_url }}">
                <i class="fab fa-linkedin"></i>
              </a>
              {% endif %}
              {% if team.twitter_url %}
              <a class="team-linkedin" target="_blank" href="{{ team.twitter_url }}">
                <i class="fab fa-twitter-square"></i>
              </a>
              {% endif %}
              {% if team.dribble_url %}
              <a class="team-linkedin" target="_blank" href="{{ team.dribble_url }}">
                <i class="fab fa-dribbble-square"></i>
              </a>
              {% endif %}
              {% if team.behance_url %}
              <a class="team-linkedin" target="_blank" href="{{ team.behance_url }}">
                <i class="fab fa-behance-square"></i>
              </a>
              {% endif %}
            </div>
          </div>
          <div class="team-content">{{ team.content }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>